---
import { blogConfig } from '#'

import BaseLayout from '@/layouts/BaseLayout.astro'
import PostCategoriesHeader from '@/components/PostCategoriesHeader.astro'
import PostCategory from '@/components/PostCategory.astro'
---

<BaseLayout title="posts">
  <main class="max-w-2xl mx-auto px-xs">
    <PostCategoriesHeader />
    <ul class="list-none px-0 md:px-sm text-var-font-primary/80">
      {
        blogConfig.pages.post.categories.map(({ tag }, i) => (
          <>
            <li class="flex items-center justify-between mb-sm backdrop-blur-2">
              <PostCategory category={tag} postAnimateDelay={i} />
            </li>

            {i !== blogConfig.pages.post.categories.length - 1 && (
              <hr class="divider" />
            )}
          </>
        ))
      }
    </ul>
  </main>
</BaseLayout>
