---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { blogConfig } from '#'
---

<BaseLayout title="Friend Links">
  <main class="max-w-2xl mx-auto px-xs">
    <header>
      <h1 class="text-var-md-heading">Friend Links</h1>
    </header>

    <ul class="list-none pl-0 grid gap-xs cols-1 sm:cols-2">
      {
        blogConfig.pages.friendLink.links.map((link) => (
          <li>
            <a
              class="w-full box-border transition-background-color link inline-flex gap-xs hover:bg-var-paper-primary pa-xs rounded-xl"
              target="_blank"
              href={link.url}
            >
              <img
                class="border-solid border-4 border-snow-5 dark:border-night-1 w-12 h-12 overflow-clip rounded-full"
                src={link.avatar}
              />
              <div class="text-var-font-primary flex justify-center flex-col gap-1">
                <span>{link.name}</span>
                <p class="my-0">{link.description}</p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
