---
import { blogConfig } from '#'
import Home from '@/layouts/Home.astro'
import { getEntryBySlug } from 'astro:content'

const about = await getEntryBySlug('index', 'index')
const { Content } = await about.render()

const npmPackages = blogConfig.pages.index.npmPackages.map(({ name, description }) => ({
  name,
  description,
  link: `https://www.npmjs.com/package/${name}`
}))
---

<Home title="qing shaner's blog">
  <Content />

  <section class="markdown">
    <h2 class="text-lg!">一些我制作的工具</h2>

    <ul class="list-none pl-xs">
      {
        npmPackages.map(({ name, description, link }) => (
          <li class="before:content-[''] before:i-logos-npm-2">
            <a target="_blank" href={link}>
              <strong>{name}</strong> {description}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Home>
