---
import { blogConfig } from '#'
---

<p
  class="flex items-center gap-1 justify-center text-night-1/50 dark:text-snow-5/50 text-base font-italic font-thin text-center"
  xmlns:cc="http://creativecommons.org/ns#"
>
  <span property="cc:attributionName">{blogConfig.blog.author}</span>
  <time>2022-PRESENT</time>
  <i class="i-uil-copyright"></i>
  <a
    href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1"
    target="_blank"
    rel="license noopener noreferrer"
    class="text-inherit decoration-dashed hover:text-var-link-base"
  >
    CC BY-NC-SA 4.0
  </a>
</p>
