---

---

<style is:global>
  @import url('../styles/comment.css');
</style>
<div id="comment"></div>
<script>
  import { hydrate } from '@/utils/hydrate'
  import { init } from '@waline/client'

  hydrate(() => {
    const el = document.getElementById('comment')

    el &&
      init({
        el,
        serverURL: 'https://blog-comment.qingshaner.com',
        pageview: true
      })
  })
</script>
