---
import NavigationLinks from './NavigationLinks.astro'
import Signature from './Signature.astro'
import ThemeSelector from './ThemeSelector.astro'
---

<header
  class="sticky top-0 right-0 left-0 z-100 px-xs backdrop-blur-2 bg-var-paper-secondary/50 shadow-sm shadow-var-paper-secondary"
>
  <div class="flex justify-between justify-between xl:max-w-2xl mx-auto">
    <h1 title="qinshaner" class="my-1">
      <Signature />
    </h1>
    <nav class="flex items-center justify-center gap-xs">
      <NavigationLinks />

      <ThemeSelector />
    </nav>
  </div>
</header>
