---
import NavigationLinks from './NavigationLinks.astro'
import NightSwitch from './NightSwitch.astro'
import Signature from './Signature.astro'
---

<header
  class="sticky top-0 right-0 left-0 z-100 px-xs dark:bg-night-5/50 backdrop-blur-2 bg-snow-2/50 shadow-sm dark:shadow-night-4"
>
  <div class="flex justify-between justify-between max-w-2xl mx-auto">
    <h1 title="qinshaner" class="my-1">
      <Signature />
    </h1>
    <nav class="flex items-center gap-4">
      <NavigationLinks />

      <NightSwitch />
    </nav>
  </div>
</header>
