---

---

<>
  <a
    title="blog & posts"
    class="line-height-4 link opacity-80 current:opacity-100 hover:opacity-100 transition-color font-italic font-mono text-lg text-frost-3"
    href="/blogs"
  >
    <span class="<md:i-uil-blogger-alt">blog</span>
  </a>
  <a
    title="GitHub"
    class="line-height-4 opacity-80 current:opacity-100 hover:opacity-100 transition-color text-xl text-frost-3"
    href="https://github.com/Jon-a-than"
    target="_blank"
  >
    <i class="i-uil-github"></i>
  </a>
  <a
    title="RSS"
    class="<md:hidden line-height-4 link opacity-80 current:opacity-100 hover:opacity-100 transition-color font-italic text-xl text-frost-3"
    href="/rss.xml"
  >
    <i class="i-uil-rss"></i>
  </a>
</>

<script>
  import { hydrate } from '@/utils/hydrate'

  hydrate(() => {
    document
      .querySelectorAll<HTMLAnchorElement>(`a[href='${location.pathname}']`)
      .forEach((el) => {
        el.dataset.current = 'true'
        el.onclick = (e) => e.preventDefault()
      })
  })
</script>
