---

---

<>
  <a
    class="link opacity-80 current:opacity-100 hover:opacity-100 transition-color font-italic font-mono text-lg text-frost-3"
    href="/posts"
  >
    blog
  </a>
</>

<script>
  import { hydrate } from '@/utils/hydrate'

  hydrate(() => {
    document
      .querySelectorAll<HTMLAnchorElement>(`a[href='${location.pathname}']`)
      .forEach((el) => {
        el.dataset.current = 'true'
        el.onclick = (e) => e.preventDefault()
      })
  })
</script>
