---
import { blogConfig } from '#'
---

<header class="my-4xl">
  <h2 class="text-3xl font-normal font-italic font-mono">
    {
      blogConfig.pages.post.navigation.map(({ link, name }) => (
        <a
          href={link}
          class="link current:opacity-100 inline-block mx-xs text-var-primary opacity-50 hover:opacity-100 transition-opacity"
        >
          {name}
        </a>
      ))
    }
  </h2>
</header>
