---

---

<style is:global>
  .sign-zh-qing-shan {
    --color-sign: rgb(var(--color-primary));

    stroke-width: 6px;
    stroke-linejoin: round;
    stroke-linecap: round;

    & > path {
      stroke: var(--color-sign);
      stroke-dasharray: var(--total-length) var(--total-length);
      stroke-dashoffset: var(--total-length);

      &:nth-child(1) {
        --total-length: 51;
        animation: sign-zh 275.1ms linear 0ms forwards;
      }

      &:nth-child(2) {
        --total-length: 186;
        animation: sign-zh 1030.5ms linear 275.1ms forwards;
      }
      &:nth-child(3) {
        --total-length: 37;
        animation: sign-zh 197.5ms linear 1305.6ms forwards;
      }
      &:nth-child(4) {
        --total-length: 48;
        animation: sign-zh 260.2ms linear 1503.1ms forwards;
      }

      &:nth-child(5) {
        --total-length: 67;
        animation: sign-zh 369.1ms linear 1763.3ms forwards;
      }

      &:nth-child(6) {
        --total-length: 50;
        animation: sign-zh 274.1ms linear 2132.4ms forwards;
      }

      &:nth-child(7) {
        --total-length: 19;
        animation: sign-zh 100.4ms linear 2406.6ms forwards;
      }

      &:nth-child(8) {
        --total-length: 65;
        animation: sign-zh 354.3ms linear 2507ms forwards;
      }

      &:nth-child(9) {
        --total-length: 39;
        animation: sign-zh 211.1ms linear 2861.3ms forwards;
      }

      &:nth-child(10) {
        --total-length: 29;
        animation: sign-zh 157.3ms linear 3072.4ms forwards;
      }

      &:nth-child(11) {
        --color-sign: rgb(var(--color-frost-1));
        --total-length: 134;
        animation: sign-zh 737.8ms linear 3229.6ms forwards;
      }
    }
  }

  @keyframes sign-zh {
    100% {
      stroke-dashoffset: 0;
    }
  }
</style>
<a class="align-sub" href="/">
  <svg
    width="52"
    height="31"
    viewBox="0 0 155 94"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g class="sign-zh-qing-shan">
      <path d="M17.5 22.5L66 12.5"></path>
      <path
        d="M21 31.5L53.3784 24.7344C54.1048 24.5826 54.8611 24.6806 55.5249 25.0124V25.0124C57.7639 26.1319 57.9848 29.2413 55.9267 30.6661L42.4221 40.0154C41.481 40.667 40.4351 41.1521 39.3298 41.4497L2 51.5L77.7493 33.1365C80.2825 32.5224 82.3134 35.2485 81 37.5V37.5"
      ></path>
      <path
        d="M40.5 2L42.776 4.08629C45.1177 6.23291 46.3002 9.36449 45.9618 12.5232L43.5 35.5"
      ></path>
      <path
        d="M37.5 53L33.0826 54.6063C29.1307 56.0434 26.5 59.7992 26.5 64.0043V84.5C26.5 87.8137 29.1863 90.5 32.5 90.5V90.5"
      ></path>
      <path
        d="M42 50.5L47.3629 48.5499C50.8019 47.2993 54.6539 48.1539 57.2414 50.7414V50.7414C59.0077 52.5077 60 54.9033 60 57.4012V86.2424C60 88.522 58.6415 90.5822 56.5462 91.4802V91.4802C54.4044 92.3981 51.9196 91.9196 50.2719 90.2719L50 90"
      ></path>
      <path
        d="M34.5 64L46.9902 58.7157C47.3266 58.5733 47.6882 58.5 48.0536 58.5H48.2399C50.9223 58.5 51.9358 62.0079 49.6667 63.4384L46.5301 65.4158C44.4673 66.7163 45.8675 69.8998 48.2201 69.2582V69.2582C50.6753 68.5886 52.0141 72.0195 49.7543 73.1898L39.5 78.5"
      ></path>
      <path d="M100 5V5C106.025 5 110.176 11.0436 108.013 16.6668L107.5 18"
      ></path>
      <path
        d="M87.5 35L97.4532 30.9283C98.1444 30.6455 98.8842 30.5 99.6311 30.5V30.5C104.346 30.5 107.058 35.8609 104.265 39.6594L99.1675 46.5922C98.7239 47.1955 98.2139 47.7471 97.6472 48.2365L87.5 57L77 66"
      ></path>
      <path d="M99 48.5V76V86.5"></path>
      <path
        d="M118.5 39L112.667 49.5C111.725 51.1947 112.242 53.3283 113.855 54.4036V54.4036C116.065 55.8766 116.065 59.1234 113.855 60.5964L111 62.5"
      ></path>
      <path
        d="M145 7L138.5 19L132 29.25M125.5 37L132 29.25M132 29.25H139.176C142.393 29.25 145 31.8573 145 35.0736V35.0736C145 36.3245 144.597 37.5422 143.851 38.5464L138.5 45.75M132 53.5L138.5 45.75M138.5 45.75H142.5C148.023 45.75 152.5 50.2272 152.5 55.75V60.3795C152.5 62.7189 151.68 64.9842 150.182 66.7813L145 73L132 86"
      ></path>
    </g>
  </svg>
</a>
