---
import { getCollection } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostCategoriesHeader from '@/components/PostCategoriesHeader.astro'
import DateTime from '@/components/DateTime.astro'
import { createDateGetterForCollection } from '@/utils/auto-date'
import WeatherIcon from '@/components/WeatherIcon.astro'

const posts = await getCollection('blogs')
const dateGetter = await createDateGetterForCollection('blogs')
---

<BaseLayout title="posts">
  <main class="max-w-2xl mx-auto px-xs">
    <PostCategoriesHeader />
    <ul class="list-none px-sm">
      {
        posts.map(({ collection, data, slug, body, id }, i) => (
          <li
            class="opacity-0 animate-fade-in-up animate-fill-forwards animate-duration-300"
            style={`animation-delay: ${i * 50}ms;`}
          >
            <a
              class="text-var-font-primary/80 hover:text-var-link-base decoration-none transition-color"
              href={`/${collection}/${slug}`}
            >
              <h3 class="flex flex-col lg:flex-row justify-between flex-wrap text-lg mb-0 lg:mb-lg font-normal">
                <span>
                  <WeatherIcon weather={data.weather} />
                  {data.title}
                  <sup class="text-sm opacity-70 font-mono">
                    {~~(body.length / 200)}m
                  </sup>
                </span>
                <DateTime
                  class="font-italic opacity-80 text-base"
                  date={data.pubDate ?? dateGetter(id).pubDate}
                />
              </h3>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
