---
import { ViewTransitions } from 'astro:transitions'
import HeaderBar from '../components/HeaderBar.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      if (
        localStorage.getItem('color-scheme') === 'dark' ||
        window.matchMedia('(prefers-color-scheme: dark)').matches
      ) {
        document.documentElement.classList.add('dark')
      }

      document.addEventListener('astro:before-swap', (e) => {
        if (document.documentElement.classList.contains('dark')) {
          e.newDocument.documentElement.classList.add('dark')
        }
      })
    </script>
  </head>

  <ViewTransitions />
  <body class="ma-0 scrollbar-slim">
    <style is:global>
      @import url('node_modules/@yulania/progress/themes/classic.css');

      .yulania-progress {
        --yulania-primary: var(--color-snow-7);
      }

      :root {
        color-scheme: light;
        transition:
          background-color 0.2s,
          color 0.2s;

        --color-snow-1: #ffffff;
        --color-snow-2: #f2f4f8;
        --color-snow-3: #eceff4;
        --color-snow-4: #e5e9f0;
        --color-snow-5: #d8dee9;
        --color-snow-6: #c0c9d8;
        --color-snow-7: #8f9bb3;
        --color-snow-8: #2e3440;

        --color-night-1: #4c566a;
        --color-night-2: #434c5e;
        --color-night-3: #3b4252;
        --color-night-4: #2e3440;
        --color-night-5: #242933;

        --color-forst-1: #8fbcbb;
        --color-forst-2: #88c0d0;
        --color-forst-3: #81a1c1;
        --color-forst-4: #5e81ac;

        --color-aurora-1: #bf616a;
        --color-aurora-2: #d08770;
        --color-aurora-3: #ebcb8b;
        --color-aurora-4: #a3be8c;
        --color-aurora-5: #b48ead;

        --uno: 'bg-[url(/texture.png)] bg-snow-1';

        &[class*='dark'] {
          color-scheme: dark;
          --uno: bg-night-5;
        }
      }

      ::selection {
        --uno: dark: bg-night-2 bg-snow-4;
      }
    </style>
    <script is:inline src="node_modules/@yulania/progress/dist/astro.global.js"
    ></script>
    <HeaderBar />
    <slot />
  </body>
</html>
