---
import BaseLayout from './BaseLayout.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<style is:global>
  @import url('../styles/markdown.css');
</style>
<BaseLayout title={title}>
  <main class="markdown max-w-2xl mx-auto! mt-16 px-xs">
    <slot />
  </main>
</BaseLayout>
