---
interface Props {
  checked?: boolean
  id: string
}

const { checked, id } = Astro.props
---

<button
  type="button"
  title="Toggle dark mode"
  id={id}
  data-state={checked ? 'checked' : 'unchecked'}
  class="w-12 h-6 rounded-3 border-2 border-solid border-snow-2 dark:border-night-1 bg-snow-5 dark:bg-night-3"
>
  <span
    class="inline-block h-4 w-4 rounded-3 -translate-x-3 bg-snow-2 dark:bg-night-1 transition-transform [[data-state=checked]>&]:bg-slate-5 [[data-state=checked]>&]:translate-x-3"
  >
    <slot name="icon" />
  </span>
</button>
